<div class="container">
  <button class="btn btn-secondary mt-3" [routerLink]="['/']">Về trang chủ</button>

  <table class="table table-bordered mt-2">
    <thead class="thead-dark">
    <tr>
      <th colspan="2">Chưa đọc</th>
    </tr>
    </thead>
    <tbody *ngFor="let book of books; let i = index">
    <tr>
      <td>{{i + 1}}</td>
      <td>{{ book.name }}</td>
      <td>
        <button type="button" class="btn btn-primary" >Chưa đọc</button>
      </td>
      <td>
        <button type="button" class="btn btn-light">Update</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button><a [routerLink]="['/read-list']">Danh sách đã đọc</a></button>

</div>
